<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311012649134-c3umehj4e7ghvkqqepmhuj5ot0baq3v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311012649134-c3umehj4e7ghvkqqepmhuj5ot0baq3v6</string>
	<key>API_KEY</key>
	<string>AIzaSyBTZDFfUL0-ExFAggYAS84mn6Vbri3KJmk</string>
	<key>GCM_SENDER_ID</key>
	<string>311012649134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saudepilates.app</string>
	<key>PROJECT_ID</key>
	<string>saudepilates-170df</string>
	<key>STORAGE_BUCKET</key>
	<string>saudepilates-170df.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311012649134:ios:d8ab52c077b8f70283e53f</string>
</dict>
</plist>