{
  "project_info": {
    "project_number": "311012649134",
    "project_id": "saudepilates-170df",
    "storage_bucket": "saudepilates-170df.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:311012649134:android:replace_with_your_app_id",
        "android_client_info": {
          "package_name": "com.saudepilates.app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_YOUR_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
